@model School.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <h2>@Model.FirstName @Model.LastName</h2>
    <div class="show-info">
        <p>Hired: @Model.HireDate</p>
        <p>Employee Number: @Model.EmployeeNumber</p>
        <p>Salary: $@Model.Salary</p>
        <p>Teacher Id: @Model.TeacherId</p>
    </div>
    <div id="delete-teacher">
        <a href="/Teacher/ConfirmRemove/@Model.TeacherId">Remove This Teacher</a>
    </div>
    <a href="/Teacher/List"> &#8592; Back to all teachers</a>
</body>
</html>